*{

      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;;

}


.header1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100;
  background: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
}

.logo {
  line-height: 100px;
  float: left;
  text-align: center;
}

.menu {
  float: right;
  line-height: 100px;
}

.menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}

.show-menu-btn, .hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
  color: #fff;
}

.show-menu-btn{
  float: right;
  margin-bottom: 0.7%;
  margin-right: 9%;
}

.show-menu-btn i {
  float: right;
}

.menu a:hover, .show-menu-btn:hover, .hide-menu-btn:hover {
  color: #3498db;
}

#chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;

}

@media screen and (max-width: 800px) {

  .show-menu-btn, .hide-menu-btn {
    display: block;
  }

  .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }

  .menu a{
    display: block;
    padding: 20px;
  }

  .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }

  #chk:checked ~ .menu {
    right: 0;
  }

}





.noomee{
  color: white;
 
  font-size: 2.2rem;
}

.center{
    max-width: 85%;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
}


.clique-aqui {
  border-radius: 10px;
  color: white;
  background-color: #1E90FF;
  width: 100px;
  cursor: pointer;
  height: 40px;
}

.clique-aqui1 {
  border-radius: 10px;
  color: white;
  background-color: #1E90FF;
  width: 100px;
  cursor: pointer;

}

.clique-aqui2 {
  border-radius: 10px;
  color: white;
  background-color: #1E90FF;
  width: 100px;
  cursor: pointer;
  height:40px;

}

body, ul, li, p{
  margin: 0%;
  padding: 0%;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

a{
  text-decoration: none;
  
}


.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100;
  background: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0%;
}


.etelogo{
  margin-left: 5%;
  width: 12%;
  display: flex;
  grid-gap: 10%;
}

/*
.menu{
  display: flex;
  margin-right: 4 0%;
}

.menu li{
  margin-left: 0%;
}

.menu li a{
  display: block;
  padding: 10px;
  color: #fff;
}



/*
Section Main
*/

section.main{
  background-image: url('img/essadaqui.png');
  

  padding: 6% 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main_cta{
  padding: 1.7%;
  width: 100%;
  margin: 5% 0;
  text-align: center;

}


.rexiteg{
  margin-left: 35.5%;
  padding: 0.5%;

}

.main_cta button{
  background-color: #007bff;
  display: inline-block;
  padding: 8% 30%;
  color: white;
  border-radius: 6%;
  font-size: 16%;
  border: 0;
  cursor: pointer;
}

.diferenciais{
  display: flex;
  flex-wrap: wrap;
}

.diferencial-single{
  border-radius: 5%;
  background-color: white;
  width: 23%;
  margin-right: 2%;
  padding: 50px 20px;
}

.diferencial-single i{
  color: #124265;
  font-size: 130%;
}

.diferencial-single h2{
  color:  #8B0000;
  margin: 5% 0;
  font-size: 100%;
}

.diferencial-single p{
  color: gray;
  font-size: 74%;
  line-height: 200%;
  text-align: justify;
}

.sobreee p{
  color: black;
  opacity : 0.0;
}

section.sobre{         /*sobre a ETEEMM*/
  padding: 5% 0;
}

.chamada-sobre{
  width: 100%;
  text-align: center;
}

.chamada-sobre h2{
  color:  #8B0000;
  text-transform: uppercase;
}

.chamada-sobre p{
  font-size: 85%;
  color: gray;
  margin: 1% 0;
}

.conteudo-sobre{
  display: flex;
  flex-wrap: wrap;
}

.conteudo-sobre p{
  width: 48%;
  margin-right: 2%;
  color: #444444;
  text-align: justify;
}

.conteudo-sobre span{
  display: inline-block;
  width: 100%;
  margin-top: 3.5%;
}
.conteudo-sobre i{
  color: #007bff;
}

section.conquistas{                 /*área das conquista*/
  background-color: #F0F8FF;
  padding: 2% 0;
}

.conquista-single{
  color: #124265;
  width: 22%;
  text-align: center;
  margin-right: 3%;
}

.conquista-single h2{
  font-size: 150%;
}




/*
.resul {
  position: relative;
  display: inline-block;
  padding: 12px 36px;
  margin: 10px 0;
  margin-left: 4%;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 40px;
  background: linear-gradient(90deg,#0162c8,#fc5555);
  margin-top: 45px;
  margin-bottom: 45px;
}


@media (max-width: 700px) {

  .tempora h2{
    margin-left: 24%;
  }

  .resul{
    margin-left: 28%;
    align-items: center;
  }

} */

.menu-items{
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  text-align: center;
  background-color: white;
  border-bottom: 2% solid blue;
  display: block;
  opacity: 0;
  transition: 0.5s;
}


section.sobre-empreendedor{                   /*canais dos professores*/
  padding: 2.8% 0;
}

.sobre-empreendedor-img{
  width: 35%;
  margin-left: 6%;
}

.sobre-empreendedor-img img{
  max-width: 100%;
}

.sobre-empreendedor-content{
  width: 50%;
  padding: 0 5%;
}

.sobre-empreendedor-content h2{
  color:  #8B0000;
  margin-bottom: 4%;
}

.sobre-empreendedor-content p{
  color: #444;
  font-size: 75%;
  margin-bottom: 3.4%;
  text-align: justify;
}

.canalpro p{
  color:  #1E90FF;
}

.depoimentos{                                /*DEPOIMENTOS*/
  padding: 3.5% 0;
}


section.depoimentos .depoimentos-chamada{
  text-align: center;
}

.depoimentos-chamada h2{
  color:  #8B0000;
  text-transform: uppercase;
}

.depoimentos-chamada p{
  color: #black;
  margin: 2% 0;
  font-size: 80%;
}

.carrousel{
  display: flex;

}


.carrousel-single{
  width: 100%;
  margin-right: 2.5%;
  text-align: center;
}

.carrousel-single-box{
  padding: 8%;
  background-color: #f3f9fd;
  border-radius: 5%;
}

.carrousel-single-box p{
  font-style: italic;
  color: #4b4b4b;
  font-size: 76%;
}

.carrousel-single-box i{
  color: #c9e3f5;
  font-size: 140%;
  padding: 0 4%;
}

.carrousel-single img{
  width: 70px;
  height: 70px;
  display: inline;
  margin: 3.5% 0;
  border-radius: 50%;
}

.carrousel-single span{
  color: #ccc;
}

*{
                box-sizing: border-box;
            }
            
            .mySlides {
                display: none;
            }
            
            img {
                vertical-align: middle;
            }
            
            .slideshow-container {
                max-width: 50%;
                position: relative;
                margin: auto;
            }
            
            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: #fff;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
            }
            
            .next {
                right: 0;
                border-radius: 3px 0 0 3px;
            }
            
            .prev:hover, .next:hover {
                background-color: #1C1C1C;
            }
            
            .text {
                color: #f2f2f2
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                width: 100%;
                text-align: center;
                bottom: 8px;
            }
            
            .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }
            
            .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }
            
            .active, .dot:hover {
                background-color: #717171;
            }
            
            .fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }
            
            @-webkit-keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
            }
            
            @keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
            }
            
            /*parte responsiva*/
            
            @media only screen and (max-width: 300px) {
                
                .prev, .next, .text {
                    font-size: 11px;
                }
                
                .dot {
                    height: 10px;
                    width: 10px;
                }
                
            }
            
            @media only screen and (max-width: 500px) {
                
                .prev, .next, .text {
                    font-size: 14px;
                }
                
                
                
            }

.portfolio{
  text-align: center;
}

.portfolio-aqui{
  text-align: center;

}

.portfolio-aqui h2{
  padding: 0.8%;
  color: #8B0000;
  text-transform: uppercase;
}

.constru h2{
  color: grey;
  font-size: 70%;
}

img{
  /*padding: 10px;*/
  max-width: 100%;
  display: block;
}

.flex{
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.flex > div{
  flex: 1 1 220px;
  margin: 10px;
}

.sub-item1 a{
  color: #fff;
}

.sub-item2 a{
  color: #fff;
}

.final p {
  color: black;
  opacity : 0.0;
}


.prolearn p{
  font-size: 20px;
  color: #000000;
  margin-top: 12%;
  text-align: center;
  margin-left: 20%;
  text-transform: uppercase;
}




                               /* final do site Rodapé*/






        .slider {                   /*começo do slide*/
          margin-left: 22.5%;
          width: 800px;
          height: 500px;
          border-radius: 10px;
          overflow: hidden;

        }
            
        .slides {
          width: 500%;
          height: 500px;
          display: flex;
            
        }
        
        .slides input {
          display: none;
        }
        
        .slide{
          width: 20%;
          transition: 2s;
        }
        
        .slide img {
          width: 800px;
          height: 500px;
        }
        
        .navigation-manual {
          position: absolute;
          width: 800px;
          margin-top: -40px;
          display: flex;
          justify-content: center;
        }
        
        .manual-btn {
          border: 2px solid #40D3DC;
          padding: 5px;
          border-radius: 10px;
          cursor: pointer;
          transition: 1s;
        }
        
        .manual-btn:not(:last-child) {
          margin-right: 40px;
            
        }
        
        .manual-btn:hover {
          background: #40D3DC;
        }
        
        #radio1:checked ~ .first {
          margin-left: 0;
        }
        
        #radio2:checked ~ .first {
          margin-left: -20%;
        }
        
        #radio3:checked ~ .first {
          margin-left: -40%;
        }
        
        #radio4:checked ~ .first {
          margin-left: -60%;
        }
        
        .navigation-auto{
          position: absolute;
          display: flex;
          width: 800px;
          justify-content: center;
          margin-top: 460px;
        }
        
        .navigation-auto div {
          border: 2px solid #40D3DC;
          padding: 5px;
          border-radius: 10px;
          transition: 1s;
        }
        
        .navigation-auto div:not(:last-child){
          margin-right: 40px;
        }
        
        #radio1:checked ~ .navigation-auto .auto-btn1 {
          background: #40D3DC;
        }
        
        #radio2:checked ~ .navigation-auto .auto-btn2 {
          background: #40D3DC;
        }
        
        #radio3:checked ~ .navigation-auto .auto-btn3 {
          background: #40D3DC;
        }
        
        #radio4:checked ~ .navigation-auto .auto-btn4 {
          background: #40D3DC;
        }


.row{                  /*começo da parte do CONTATO*/
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  margin-left: 50%;
  margin-top: 8%;
  transform: translate(-50%, -20%);
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat", sans-serif;
}                  

.contact-form h1 {
  margin-top: 0;
  font-weight: 200;
}

.card{
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.card label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.card input, .card textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-bottom: 20px;
}

.env{
  display: inline-block;
  background: #4169E1;
  padding: 13.5px 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
  border-radius: 9px;
}





@media (max-width: 700px) {

  .noomee {
    font-size: 120%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .etelogo {
    width: 18%;
  }

}

@media (max-width: 700px) {        /*parte das conquistas*/

  .conquista-single {
    width: 100%;
    padding: 5%;
  }

}

@media (max-width: 700px) {             /*parte responsiva da rexiteg...*/

  .rexiteg {
    width: 90%;
    padding: 50px;
    margin-left: 6%;
    margin-top: 11%;
  }

}

@media (max-width: 700px){

  .carrousel-single1{
    width: 100%;
  }
  
}

@media (max-width: 700px){              /*texto e os links do canal dos professores*/

  .sobre-empreendedor-content{
    width: 100%;
  }

}

@media (max-width: 700px){         /*imagem do canal dos professores*/

  .sobre-empreendedor-img {
    width: 100%;
  }

}

@media (max-width: 700px){

  .carrousel-single-box{
    width: 100%;

  }

}


@media (max-width: 750px){         /*essa parte é do slide*/

  .slider{
    width: 550px;
    height: 500px;
  }

  .slides input{
    width: 100%;
  }

}



@media (max-width: 600px){

  .diferencial-single{
    width: 100%;
    margin-bottom: 20px;
  }


  .conteudo-sobre p{width: 100%; margin:20px 20px;}

}

  /*.menu{
    display: none;
  }*/


.logo{
  width: 20%;
}

.menu-mobile{
  width: 80%;
  text-align: right;
  display: block;
}

.menu-mobile i{
  cursor: pointer;
  font-size: 23px;
  margin-top: 8px;
}




}



