// GLOBAL
@use "global/variables";
@use "global/global";
@use "global/buttons";

// PAGES
@use "pages/home";
@use "pages/equipe";
@use "pages/structure";
@use "pages/error";

// UTILITY
@use "utility/header";
@use "utility/footer";

// ADMIN PAGES
@use "admin/pages/entrar";
@use "admin/pages/dashboard";
@use "admin/pages/editor";
@use "admin/pages/admin_equipe";

// ADMIN ULTILITY
@use "admin/ultility/sidebar";

//vendors
@use "vendors/custom-alert.css";
@use "vendors/cropper.min.css";
@use "vendors/cropper-page";
