// GLOBAL
@use "global/variables";
@use "global/global";
@use "global/buttons";

// PAGES
@use "pages/home";
@use "pages/equipe";
@use "pages/structure";
@use "pages/error";
@use "pages/login";

// COMPONENTS

// UTILITY
@use "utility/header";
@use "utility/footer";
@use "utility/sidebar";
