// GLOBAL
@use "global/variables";
@use "global/global";
@use "global/buttons";

// PAGES
@use "pages/home";
@use "pages/structure";

// COMPONENTS

// UTILITY
@use "utility/header";
@use "utility/footer";
