.footer-copyright {
  color: black;
}

.footer-wrapper {
  width: 100%;
  padding: 30px 20px;
  background: #4169e1;
  box-sizing: border-box;
}

.footer-wrapper * {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.footer-content {
  width: 100%;
  /* max-width: 320px; */
  margin: 0 auto;
}

.footer-logo-container {
  width: 100%;
}

.footer-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-logo svg {
  width: 143px;
  height: 33px;
}

.footer-logo svg path {
  fill: #8795a2;
}

.porta80 {
  font-size: 11px;
  font-weight: 300;
  color: #8795a2;
  text-align: center;
  text-decoration: none;
}

.contact-container {
  width: 100%;
  max-width: 250px;
  margin: 20px auto 0 auto;
  text-align: center;
}

.contact-container label {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  border-radius: 5px;
  background: #0ac5d4;
  box-shadow: 12px 15px 20px rgba(17, 136, 233, 0.05);
}

.contact-container label span {
  width: 100%;
  display: block;
  margin-top: 10px;
  font-size: 16px;
}

.porta80-desktop-container {
  display: none;
}

.menu-footer-container {
  width: 100%;
  margin: 25px 0;
}

.menu-footer-title {
  display: none;
}

.menu-item {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.menu-item:last-child {
  margin-bottom: 0;
}

.menu-item a,
.sub-item a {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.menu-item a:hover,
.sub-item a:hover {
  color: #373737;
  transform: scale(1.04);
}

.sub-item2 {
  margin-right: 10px;
}

.sub-item1 {
  margin-right: 10px;
}

.footer-tech-container {
  display: none;
}

.footer-address-container {
  width: 100%;
  margin: 20px 0;
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.footer-address-container p {
  margin: 0;
  padding: 0 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
}

.footer-social-container {
  width: 150%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer-icons {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.footer-icons svg {
  width: 30px;
  height: 30px;
}

.footer-icons svg path {
  fill: #fff;
}

@media screen and (min-width: 760px) {
  .footer-content {
    max-width: 680px;
  }

  .footer-address-container {
    max-width: 320px;
    margin: 20px auto;
  }

  .footer-social-container {
    max-width: 320px;
    margin: 0 auto;
    justify-content: center;
  }

  .menu-footer-container {
    margin: 40px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .menu-footer-content {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .menu-item {
    width: auto;
    margin-bottom: 0;
  }

  .menu-group:first-child {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-wrapper {
    padding: 30px 60px 40px 60px;
  }

  .footer-content {
    max-width: unset;
    margin: 0;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .info-column {
    width: 25%;
    max-width: 250px;
  }

  .footer-logo-container {
    width: 100%;
  }

  .porta80-desktop-container {
    display: block;
    text-align: center;
  }

  .menus-column {
    /*width: 65%;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 1 auto;
  }

  .menu-footer-container {
    width: 100%;
    padding-left: 230px;
    display: block;
    display: block;
  }

  .menu-footer-content {
    flex-wrap: wrap;
  }

  .footer-tech-container {
    width: 60%;
    display: block;
  }

  .footer-tech-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .sub-columns {
    width: 100%;
  }
}

@media screen and (max-width: 1054px) {
  .menu-group:first-child {
    margin-right: 0;
    margin-top: 0;
  }

  .menu-group {
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .menu-footer-container {
    padding-left: 60px;
  }
}

@media screen and (max-width: 1023px) {
  .great-place-column {
    width: auto;
    margin-top: 15px;
  }

  .menu-footer-content {
    flex-wrap: wrap;
  }

  .menu-group {
    margin-top: 0;
  }

  .menu-item {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .footer-info-social {
    width: auto;
  }

  .porta80-mobile-container {
    margin-top: 15px;
  }

  .badges-gptw a img {
    max-width: 140px;
  }

  .footer-wrapper {
    padding: 0 20px 60px 20px !important;
  }

  .menu-footer-container {
    padding-left: initial;
  }
}

@media screen and (max-width: 400px) {
  .footer-info-social {
    margin: 0 auto;
    width: 280px;
  }

  .badges-gptw a img {
    max-width: 125px;
  }
}

.dashboard-container {
  padding: 0px 5px 25px 5px !important;
}

.menu-group {
  width: 100%;
  margin-top: 20px;
}

.menu-group:first-child {
  margin-top: 0;
}

.menu-footer-container {
  width: 40%;
}

.footer-tech-container {
  width: 60%;
}

.menus-column {
  padding: 0 15px;
}

.dashboard-container {
  padding: 0px 5px 50px 5px !important;
}

@media screen and (max-width: 1023px) {
  .great-place-column {
    width: auto;
  }

  .footer-tech-container,
  .menu-footer-container {
    width: 100%;
  }

  .menu-footer-container {
    margin: 30px 0 40px 0;
  }

  .menu-group {
    margin: 0;
  }

  .menu-item {
    margin-top: 15px;
  }

  .footer-info-social {
    width: auto;
  }

  .badges-gptw a img {
    max-width: 140px;
  }

  .footer-tech-container {
    display: flex;
    justify-content: center;
    margin: 15px 0 50px;
    flex-wrap: wrap;
  }
}
