// INTRODUÇÃO
.introuducao {
  background: url("../img/essadaqui.png") no-repeat fixed center;
  background-size: cover;
  padding: 6% 0;
}

.main_cta {
  padding: 1.7%;
  width: 100%;
  margin: 5% 0;
  text-align: center;
}

.clique-aqui {
  border-radius: 10px;
  color: white;
  background-color: #1e90ff;
  width: 100px;
  cursor: pointer;
  height: 40px;
}

.rexiteg {
  margin-left: 35.5%;
  padding: 0.5%;
}

.main_cta button {
  background-color: #007bff;
  display: inline-block;
  padding: 8% 30%;
  color: white;
  border-radius: 6%;
  font-size: 16%;
  border: 0;
  cursor: pointer;
}

.diferenciais {
  display: flex;
  flex-wrap: wrap;
}

.diferencial-single {
  border-radius: 5%;
  background-color: white;
  width: 23%;
  margin-right: 2%;
  padding: 50px 20px;
}

.diferencial-single {
  transition: all 0.5s;
  cursor: pointer;
}

.diferencial-single:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
}

.diferencial-single i {
  color: #124265;
  font-size: 130%;
}

.diferencial-single h2 {
  color: #8b0000;
  margin: 5% 0;
  font-size: 100%;
}

.diferencial-single p {
  color: gray;
  font-size: 74%;
  line-height: 200%;
  text-align: justify;
}

// SOBRE
.sobreee p {
  color: black;
  opacity: 0;
}

section.sobre {
  padding: 5% 0;
}

.chamada-sobre {
  width: 100%;
  text-align: center;
}

.chamada-sobre h2 {
  color: #8b0000;
  text-transform: uppercase;
}

.chamada-sobre p {
  font-size: 85%;
  color: gray;
  margin: 1% 0;
}

.conteudo-sobre {
  display: flex;
  flex-wrap: wrap;
}

.conteudo-sobre p {
  width: 48%;
  margin-right: 2%;
  color: #444444;
  text-align: justify;
}

.conteudo-sobre span {
  display: inline-block;
  width: 100%;
  margin-top: 3.5%;
}
.conteudo-sobre i {
  color: #007bff;
}

// CONQUISTAS
.conquistas {
  /*área das conquista*/
  background-color: #f0f8ff;
  padding: 2% 0;
}

.conquista-single {
  color: #124265;
  width: 22%;
  text-align: center;
  margin-right: 3%;
}

.conquista-single h2 {
  font-size: 150%;
}

.menu-items {
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  text-align: center;
  background-color: white;
  border-bottom: 2% solid blue;
  display: block;
  opacity: 0;
  transition: 0.5s;
}

// EMPREDEDORES
.professores {
  /*canais dos professores*/
  padding: 2.8% 0;
}

.professores-img {
  width: 35%;
  margin-left: 6%;
}

.professores-img img {
  max-width: 100%;
}

.professores-content {
  width: 50%;
  padding: 0 5%;
}

.professores-content h2 {
  color: #8b0000;
  margin-bottom: 4%;
}

.professores-content p {
  color: #444;
  font-size: 75%;
  margin-bottom: 3.4%;
  text-align: justify;
}

.professores-img {
  transition: all 0.5s;
  cursor: pointer;
}

.professores-img:hover {
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}

.canalpro p {
  color: #1e90ff;
}

// DEPOIMENTOS
.depoimentos {
  /*DEPOIMENTOS*/
  padding: 3.5% 0;
}

.depoimentos .depoimentos-chamada {
  text-align: center;
}

.depoimentos-chamada h2 {
  color: #8b0000;
  text-transform: uppercase;
}

.depoimentos-chamada p {
  color: black;
  margin: 2% 0;
  font-size: 80%;
}

.carrousel {
  display: flex;
}

.carrousel-single {
  width: 100%;
  margin-right: 2.5%;
  text-align: center;
}

.carrousel-single-box {
  padding: 8%;
  background-color: #f3f9fd;
  border-radius: 5%;
}

.carrousel-single-box p {
  font-style: italic;
  color: #4b4b4b;
  font-size: 76%;
}

.carrousel-single-box i {
  color: #c9e3f5;
  font-size: 140%;
  padding: 0 4%;
}

.carrousel-single img {
  width: 70px;
  height: 70px;
  display: inline;
  margin: 3.5% 0;
  border-radius: 50%;
}

.carrousel-single span {
  color: #ccc;
}

* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #1c1c1c;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 8px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .prev,
  .next,
  .text {
    font-size: 14px;
  }
}

// PORTIFOLIO
.portfolio {
  text-align: center;
}

.portfolio-aqui {
  text-align: center;
}

.portfolio-aqui h2 {
  padding: 0.8%;
  color: #8b0000;
  text-transform: uppercase;
}

.constru h2 {
  color: grey;
  font-size: 70%;
}

.flex {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 220px;
  margin: 10px;
}

.img {
  transition: all 0.5s;
  cursor: pointer;
}

.img:hover {
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
  filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, .5));
}

// FOOTER
.sub-item1 a {
  color: #fff;
}

.sub-item2 a {
  color: #fff;
}

.final p {
  color: black;
  opacity: 0;
}

.prolearn p {
  font-size: 20px;
  color: #000000;
  margin-top: 12%;
  text-align: center;
  margin-left: 20%;
  text-transform: uppercase;
}

// CONTATO
.row {
  /*começo da parte do CONTATO*/
  width: 85%;
  max-width: 600px;
  background: #f1f1f1;
  margin-left: 50%;
  margin-top: 8%;
  transform: translate(-50%, -20%);
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  font-family: "Montserrat", sans-serif;
}

.contact-form h1 {
  margin-top: 0;
  font-weight: 200;
}

.card {
  border: 1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
}

.card label {
  display: block;
  text-align: left;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
}

.card input,
.card textarea {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-bottom: 20px;
}

.env {
  display: inline-block;
  background: #4169e1;
  padding: 13.5px 0;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
  border-radius: 9px;
}

@media (max-width: 700px) {
  .titulo {
    font-size: 120%;
    margin-top: 4%;
    margin-bottom: 4%;
  }

  .etelogo {
    width: 18%;
  }

  /*parte das conquistas*/

  .conquista-single {
    width: 100%;
    padding: 5%;
  }

  /*parte responsiva da rexiteg...*/

  .rexiteg {
    width: 90%;
    padding: 50px;
    margin-left: 6%;
    margin-top: 11%;
  }

  .carrousel-single1 {
    width: 100%;
  }

  /*texto e os links do canal dos professores*/

  .sobre-empreendedor-content {
    width: 100%;
  }

  /*imagem do canal dos professores*/

  .sobre-empreendedor-img {
    width: 100%;
  }

  .carrousel-single-box {
    width: 100%;
  }
}

@media (max-width: 750px) {
  /*essa parte é do slide*/

  .slider {
    width: 550px;
    height: 500px;
  }

  .slides input {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .diferencial-single {
    width: 100%;
    margin-bottom: 20px;
  }

  .conteudo-sobre p {
    width: 100%;
    margin: 20px 20px;
  }
}
