@use "../global/variables" as *;

$main-col: #4169e1;

.clear{clear:both;}

.equipe-wrapper {
  text-align: center;
  padding: 50px 0;

  @media (max-width: 340px) {
    padding: 40px 0;

    .container {
      width: 100%;
    }
  }
}

.equipe {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-between;
  gap: 60px;

  &.justify-start {justify-content: start}

  .equipe-item {
    position: relative;
    width: 300px;
    background: #fff;
    box-shadow: 0 10px 7px -5px rgba(#000,.4);

    .avatar-wrapper {
      position: relative;
      width: 100%;
      height: 60px;
      background-color: $main-col;

      &::before, &::after {
        content: '';
        position: absolute;
        top: 0;bottom: 0;left: 0;right: 0;
        background: inherit;
      }

      &::before {
        transform: skewY(-8deg);
        transform-origin: 100% 100%;
      }

      &::after {
        transform: skewY(8deg);
        transform-origin: 0 100%;
      }

      .avatar {
        position: absolute;
        left: 50%;
        top: 30px;
        z-index: 5;
        width: 100px;
        height: 100px;
        margin-left: -50px;
        border-radius: 50%;
        overflow: hidden;
        background: #ccc;
        border: 3px solid $white;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100px;
          height: auto;
        }
      }
    }

    h3 {
      position: relative;
      margin: 80px 0 30px;
      text-align: center;

      &::after {
        content: '';
        position: absolute;
        bottom: -15px;
        left: 50%;
        margin-left: -15px;
        width: 30px;
        height: 1px;
        background: $black;
      }
    }

    .desc {
      height: 72px;
      padding: 0 1rem;
      text-align: center;
      line-height: 1.5;
      color: #777;
    }

    .contacts {
      display: flex;
      justify-content: center;
      width: 200px;
      height: 47px;
      max-width: 100%;
      margin: 0 auto 3rem;

      a {
        display: block;
        width: 33.333333%;
        text-align: center;
        color: $main-col;

        &:hover {
          color: #333;

          .fa {
            &::before {
              color: $white;
            }
            &::after {
              width: 100%;
              height: 100%;
            }
          }
        }

        .fa {
          position: relative;
          width: 40px;
          height: 40px;
          line-height: 39px;
          overflow: hidden;
          text-align: center;
          font-size: 1.3rem;

          &:before {
            position: relative;
            z-index: 1;
          }

          &::after {
            content: '';
            position: absolute;
            top: 50%; left: 50%;
            width: 0; height: 0;
            transform: translate(-50%, -50%);
            background: $main-col;
            transition: width .3s, height .3s;
          }
        }

        &:last-of-type .fa{line-height: 36px;}
      }
    }
  }

  @media (max-width: 1260px) {
    justify-content: center;
  }

  @media (max-width: 340px) {
    grid-template-columns: 1fr;

    .equipe-item {
      width: 100%;
    }
  }
}

.equipe-item:nth-child(odd),.equipe-item:nth-child(even) {
  .avatar-wrapper {
    &::before {
      transform: skewY(0deg);
      transform-origin: 0;
    }
  }

  .contacts{
    a{
      &:hover{
        .fa{
          &::after{
            top: 0;
          }
        }
      }

      .fa{
        border: 2px solid $main-col;
        border-radius: 50%;
        font-size: 1rem;

        &::after{
          top: -50px; left: 0;
          width: 100%; height: 100%;
          transform: translate(0, 0);
          transition: top .3s, width 0s, height 0s;
        }
      }
    }
  }
}
