.error-page {
  height: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .errcode {
    font-size: 9rem;
    font-weight: 300;
    color: #ccc;
    line-height: 1;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 1.5rem;
    color: #555;
  }

  .message {
    font-size: 1rem;
    margin-top: 20px;
    color: #555;
  }

  .btn {
    padding: 20px 40px;
    margin-top: 40px;
  }

  @media (max-width: 600px) {
    .errcode {
      font-size: 6rem;
    }
  }
}