.error {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  h2 {
    font-size: 6rem;
    color: #ccc;
    line-height: 1;
  }

  p {
    font-size: 1.5rem;
    color: #525252;
    margin-bottom: 2rem;
  }
}