@use "../global/variables" as *;

.section-title {
  .title {
    color: $text-color;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .subtitle {
    font-size: 1rem;
    color: gray;
    margin-bottom: 16px;
  }
}

// INTRODUÇÂO
.introduction {
  background: url("../img/essadaqui.png") no-repeat fixed center;
  background-size: cover;
  padding: 80px 0;

  .call-to-action {
    display: block;
    width: 300px;
    margin: 0 auto 80px;
  }

  .differentials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .differentials-item {
      border-radius: 16px;
      background-color: white;
      padding: 3rem 1.25rem;
      transition: all 0.5s;

      &:hover {
        -webkit-transform: scale(1.5);
        transform: scale(1.1);
      }

      div:nth-child(1) {
        display: none;
      }

      i {
        color: #124265;
        font-size: 1.5rem;
      }

      h2 {
        color: $text-color;
        margin-bottom: 10px;
        font-size: 1.25rem;
      }

      p {
        color: gray;
        font-size: 0.9rem;
        line-height: 2;
        text-align: justify;
        margin-bottom: 20px;
      }
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}

// SOBRE
.about {
  padding: 70px 0;

  .section-title {
    text-align: center;
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 20px;

    .creation {
      p {
        margin-bottom: 20px;
      }
    }

    p {
      color: #444;
      text-align: justify;
    }

    span {
      width: 100%;
      display: inline-block;
      margin-bottom: 1rem;
      text-align: justify;
    }

    i {
      color: #007bff;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}

// CONQUISTAS
.section-conquests {
  background-color: #f0f8ff;
  padding: 2% 0;

  .conquests {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .conquests-item {
      color: $text-color;
      text-align: center;

      h2 {
        font-size: 1.75rem;
      }
    }

    @media (max-width: 700px) {
      grid-template-columns: 1fr;

      .conquests-item {
        padding: 30px;
      }
    }
  }
}

// EMPREDEDORES
.teachers {
  padding: 70px 0;

  .container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;

    .teachers-img {
      max-width: 400px;
      width: 100%;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        :hover {
          -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
        }
      }

      img {
        max-width: 100%;
      }
    }

    .teachers-content {
      p {
        color: #444;
        text-align: justify;
      }

      a {
        display: block;
        color: #1e90ff;
        font-size: 75%;
        font-family: Arial, sans-serif;
        margin-bottom: 12px;
      }
    }

    @media (max-width: 850px) {
      grid-template-columns: 1fr;

      .teachers-img {
        justify-self: center;
        grid-row: 2;
      }
    }
  }
}

// DEPOIMENTOS
.testimonials {
  .section-title {
    text-align: center;
  }
}

.slide {
  max-width: 50%;
  position: relative;
  margin: auto;

  .slide-item {
    display: none;
    animation: fade 1.5s;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

    &:hover {
      background-color: #1c1c1c;
    }
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
}

.pagination {
  width: 100%;
  margin-top: 20px;
  text-align: center;

  .pagination-page {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

    &:hover,
    &.active {
      background-color: #717171;
    }
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

// PORTIFOLIO
.portfolio {
  margin-bottom: 70px;
  text-align: center;

  .portfolio-title {
    margin-top: 1.5rem;

    h2 {
      color: #8b0000;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  li {
    // box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0 6px 20px rgb(56 125 255 / 17%);
    border-radius: 10px;
    overflow: hidden;

    figure {
      position: relative;
      padding-top: 67%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s linear;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    p {
      padding: 20px 30px 30px;
    }
  }

  @media (max-width: 350px) {
    grid-template-columns: 1fr;
  }
}

.img-shadow {
  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
  }
}
