.main {
  margin-top: 80px;
}

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}

// INTRODUÇÂO
.introduction {
  background: url("../img/essadaqui.png") no-repeat fixed center;
  background-size: cover;
  padding: 80px 0;

  .call-to-action {
    display: block;
    width: 300px;
    margin: 0 auto 80px;
  }

  .differentials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .differentials-item {
      border-radius: 16px;
      background-color: white;
      padding: 3rem 1.25rem;
      transition: all 0.5s;

      &:hover {
        -webkit-transform: scale(1.5);
        transform: scale(1.1);
      }

      i {
        color: #124265;
        font-size: 1.5rem;
      }

      h2 {
        color: #8b0000;
        margin: 5% 0;
        font-size: 1.25rem;
      }

      p {
        color: gray;
        font-size: 0.9rem;
        line-height: 2;
        text-align: justify;
        margin-bottom: 20px;
      }
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}

// SOBRE
.about {
  padding: 70px 0;

  .about-title {
    text-align: center;

    h2 {
      color: #8b0000;
      text-transform: uppercase;
    }

    p {
      font-size: 1rem;
      color: gray;
      margin-bottom: 16px;
    }
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 20px;

    .creation {
      p {
        margin-bottom: 20px;
      }
    }

    p {
      color: #444;
      text-align: justify;
    }

    span {
      width: 100%;
      display: inline-block;
      margin-bottom: 1rem;
      text-align: justify;
    }

    i {
      color: #007bff;
    }

    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
  }
}

// CONQUISTAS
.conquistas {
  /*área das conquista*/
  background-color: #f0f8ff;
  padding: 2% 0;
}

.conquista-single {
  color: #124265;
  width: 22%;
  text-align: center;
  margin-right: 3%;
}

.conquista-single h2 {
  font-size: 150%;
}

.menu-items {
  position: absolute;
  left: 0;
  top: 60%;
  width: 100%;
  text-align: center;
  background-color: white;
  border-bottom: 2% solid blue;
  display: block;
  opacity: 0;
  transition: 0.5s;
}

// EMPREDEDORES
.professores {
  /*canais dos professores*/
  padding: 2.8% 0;
}

.professores-img {
  width: 35%;
  margin-left: 6%;
}

.professores-img img {
  max-width: 100%;
}

.professores-content {
  width: 50%;
  padding: 0 5%;
}

.professores-content h2 {
  color: #8b0000;
  margin-bottom: 4%;
}

.professores-content p {
  color: #444;
  font-size: 75%;
  margin-bottom: 3.4%;
  text-align: justify;
}

.professores-img {
  transition: all 0.5s;
  cursor: pointer;
}

.professores-img:hover {
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}

.canalpro p {
  color: #1e90ff;
}

// DEPOIMENTOS
.depoimentos {
  /*DEPOIMENTOS*/
  padding: 3.5% 0;
}

.depoimentos .depoimentos-chamada {
  text-align: center;
}

.depoimentos-chamada h2 {
  color: #8b0000;
  text-transform: uppercase;
}

.depoimentos-chamada p {
  color: black;
  margin: 2% 0;
  font-size: 80%;
}

.carrousel {
  display: flex;
}

.carrousel-single {
  width: 100%;
  margin-right: 2.5%;
  text-align: center;
}

.carrousel-single-box {
  padding: 8%;
  background-color: #f3f9fd;
  border-radius: 5%;
}

.carrousel-single-box p {
  font-style: italic;
  color: #4b4b4b;
  font-size: 76%;
}

.carrousel-single-box i {
  color: #c9e3f5;
  font-size: 140%;
  padding: 0 4%;
}

.carrousel-single img {
  width: 70px;
  height: 70px;
  display: inline;
  margin: 3.5% 0;
  border-radius: 50%;
}

.carrousel-single span {
  color: #ccc;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: #1c1c1c;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 8px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .prev,
  .next,
  .text {
    font-size: 14px;
  }
}

// PORTIFOLIO
.portfolio {
  text-align: center;
}

.portfolio-aqui {
  text-align: center;
}

.portfolio-aqui h2 {
  padding: 0.8%;
  color: #8b0000;
  text-transform: uppercase;
}

.constru h2 {
  color: grey;
  font-size: 70%;
}

.flex {
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
}

.flex > div {
  flex: 1 1 220px;
  margin: 10px;
}

.img {
  transition: all 0.5s;
  cursor: pointer;
}

.img:hover {
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(15px 10px 5px rgba(0, 0, 0, 0.5));
}

@media (max-width: 700px) {
  .conquista-single {
    width: 100%;
    padding: 5%;
  }

  .professores-content {
    width: 100%;
  }

  .professores-img {
    width: 100%;
  }
}

@media (max-width: 750px) {
  /*essa parte é do slide*/

  .slider {
    width: 550px;
    height: 500px;
  }

  .slides input {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .conteudo-sobre p {
    width: 100%;
    margin: 20px 20px;
  }
}
