@use "../global/variables" as *;

.object-fit-fill {
  object-fit: fill !important;
}

.section-title {
  .title {
    color: $text-color;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  .subtitle {
    font-size: 1rem;
    color: #525252;
    margin-bottom: 16px;
  }
}

// INTRODUÇÂO
.introduction {
  background: url("../img/estruturas/escola-blur.png") no-repeat fixed center;
  background-size: cover;
  padding: 80px 0;

  .call-to-action {
    display: block;
    width: 300px;
    margin: 0 auto 80px;
  }

  .differentials {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .differentials-item {
      display: flex;
      flex-direction: column;
      border-radius: 16px;
      background-color: white;
      padding: 3rem 1.25rem 2.5rem;
      transition: all 0.5s;

      &:hover {
        -webkit-transform: scale(1.5);
        transform: scale(1.1);
      }

      i:nth-child(1) {
        display: none;
      }

      i {
        color: #124265;
        font-size: 1.5rem;
      }

      h2 {
        color: $text-color;
        margin-bottom: 10px;
        font-size: 1.125rem;
      }

      p {
        color: #525252;
        font-size: 0.9rem;
        line-height: 2;

        text-align: justify;
        margin-bottom: 20px;
        flex: 1;
      }

      .btn {
        border-radius: 10px;
        align-self: start;
        font-size: 0.82rem;
      }
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 500px) {
      grid-template-columns: 1fr;
    }
  }
}

// SOBRE
.about {
  padding: 70px 0;

  .section-title {
    text-align: center;
  }

  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .creation {
      p {
        margin-bottom: 20px;
      }
    }

    p {
      font-weight: 500;
      text-align: justify;
    }

    span {
      width: 100%;
      display: inline-block;
      margin-bottom: 1rem;
      text-align: justify;
      color: #525252;
    }

    i {
      color: #007bff;
    }

    @media (max-width: 760px) {
      grid-template-columns: 1fr;
    }
  }
}

// CONQUISTAS
.section-conquests {
  background-color: #f0f8ff;
  padding: 1rem 0;

  .conquests {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .conquests-item {
      color: $text-color;
      text-align: center;

      h2 {
        font-size: 1.75rem;
      }
    }

    @media (max-width: 700px) {
      grid-template-columns: 1fr;

      .conquests-item {
        padding: 30px;
      }
    }
  }
}

// EMPREDEDORES
.teachers {
  padding: 70px 0;

  .container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;

    .teachers-img {
      max-width: 400px;
      width: 100%;
      transition: all 0.5s;
      cursor: pointer;

      img {
        max-width: 100%;
      }
    }

    .teachers-content {
      p {
        text-align: justify;
      }

      a {
        display: block;
        color: $primary;
        font-family: Arial, sans-serif;
        margin-bottom: 12px;
      }
    }

    @media (max-width: 850px) {
      grid-template-columns: 1fr;

      .teachers-img {
        justify-self: center;
        grid-row: 2;
      }
    }
  }
}

// DEPOIMENTOS
.testimonials {
  .section-title {
    text-align: center;
  }
}

// PORTIFOLIO
.portfolio {
  padding: 50px 0 70px;
  margin-top: -20px;
  text-align: center;

  .portfolio-title {
    margin-top: 1.5rem;

    h2 {
      color: #8b0000;
      text-transform: uppercase;
    }

    p {
      margin-bottom: 1.5rem;
    }
  }
}

// GALERIA
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

  li {
    // box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0 6px 20px rgb(56 125 255 / 17%);
    border-radius: 10px;
    overflow: hidden;

    figure {
      position: relative;
      padding-top: 67%;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.2s linear;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    p {
      padding: 20px 30px 30px;
    }
  }

  @media (max-width: 350px) {
    grid-template-columns: 1fr;
  }
}

// SLIDE
.splide {
  .splide__arrow {

    svg {
      fill: $primary;
    }

    &:hover:not(:disabled) svg {
      fill: lighten($primary, 5%);
    }
  }

  .splide__pagination__page {
    &.is-active {
      background: $primary;
    }

    &:hover {
      background: lighten($primary, 10%);
    }
  }
}
//PAGINAÇÃO
.paginator {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.paginator_item {
  display: inline-block;
  margin: 0 5px;
  padding: 4px 12px;
  background: $text-color;
  color: $text-grey;
  border: 2px solid $text-color;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.paginator_item:hover {
  background: $primary;
}

.paginator_active, .paginator_active:hover {
  background: $white;
}
@media (max-width: 760px) {
  .introduction {
    padding: 50px 0;

    .call-to-action {
      margin: 0 auto 50px;
    }
  }

  .about {
    padding: 50px 0;
  }

  .teachers {
    padding: 50px 0;
  }

  .slide {
    max-width: 67%;
  }

  .portfolio {
    padding: 30px 0 50px;
  }
}