.btn-click-here {
  height: 40px;
  width: 100px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #1e90ff;

  cursor: pointer;

  &:hover {
    background-color: darken(#1e90ff, 10%);
  }
}
