* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul{
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.center {
  max-width: 85%;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}

.main {
  margin-top: 80px;
}

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}
