* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html{scroll-behavior:smooth; scroll-padding-top: 40px;}

ul{
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.client-html {
  height: 100%;

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.main {
  margin-top: 90px;
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;
}
