@use "../global/variables" as *;

@mixin gradient {
  background: linear-gradient(
    90deg,
    darken($primary, 30%),
    darken($primary, 20%)
  );
}

@mixin imgFullscreen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
}