@use "../../global/global" as *;
@use "../../global/variables" as *;

.admin-equipe-wrapper {
  max-width: 1124px;
  margin: 0 auto;

  & > h2 {
    margin: 3.5rem 0 1.5rem;
  }
}

.admin-paper.admin-equipe {
  margin: 0 auto;

  .input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
    max-width: 900px;
    margin: 0 auto 32px;

    .input-data {
      padding: 16px 0;
    }

    @media (max-width: 624px) {
      grid-template-columns: 1fr;
    }
  }
}

#custom-select {
  position: relative;
  width: 400px;
  margin: 0 auto 32px;

  .btn-custom-select {
    position: relative;
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
    color: #fff;
    background: $primary;
    text-align: left;
    padding: 0 15px;
    font-size: 16px;
    cursor: pointer;
  }

  .btn-custom-select::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }

  .btn-custom-select:hover {
    background: $primary;
  }

  .btn-custom-select.active {
    background: $primary;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .options-custom-select {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: fit-content;
    background: rgba($primary, 0.7);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: none;
  }

  .options-custom-select.active {
    display: block;
  }

  .options-custom-select .item{
    color: #fff;
    text-transform: capitalize;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    line-height: 30px;
    cursor: pointer;
  }

  .options-custom-select .item.active{
    background: $primary;
  }
}
