@use "../../global/global" as *;
@use "../../global/variables" as *;

.admin-equipe-wrapper {
  max-width: 1124px;
  margin: 0 auto;

  & > h2 {
    margin: 3.5rem 0 1.5rem;
  }
}

.admin-paper.admin-equipe {
  margin: 0 auto;

  .input-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 2rem;
    max-width: 900px;
    margin: 0 auto;

    @media (max-width: 724px) {
      grid-template-columns: 1fr;
      margin: 0 auto;

      .custom-select {
        margin-bottom: 32px;
      }
    }
  }
}
